.container {
    max-width: 600px;
    margin: 0 auto;
  }
  header{
    text-align: center;
  }
  body{
    background-color: #F0F8FF;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-top: 1rem;
  }
  
  input[type="text"],
  select,
  textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
  }
  
  button[type="submit"] {
    margin-top: 1rem;
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  