
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
    
  }
  .img-c{
    opacity: 1;
  }
  header {
    background-color: #F5FFFA;
    color: #1d1a1a;
    padding: 10px;
    font-weight: bold;
    width: 100%;
   
    
  }
  .center-text {
    text-align: center;
    font-size: 30px;
  }
  
 .write-form{
  float: right;
  padding: 10px 20px; 
  font-size: 30px; 
  border: none; 
  border-radius: 5px; 
  background-color: #98FB98; 
  color: #141111; 
  cursor: pointer; 


    
  
 }
 .category1 a{
  text-decoration-line: none;
}
.category2 a{
  text-decoration-line: none;
}
.category3 a{
  text-decoration-line: none;
}

  body{
    background-color: #F0F8FF;
  }


  table {
    
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
 
    
  }
  

  thead {
    background-color: #00BFFF;
  
  }
  
  thead th {
   
    padding: 10px;
    text-align: center;
    border: 1px solid #E5E5E5;
    border-bottom: 3px solid rgb(24, 25, 26);
    font-size: 15px;
    font-weight: 1000;
    height: 50px;
   
  }
  

  tbody tr:nth-child(even) {    /*짝수번대 색깔 다르게 하는거*/
    background-color: #FFF0F5;
 
  }
  

  td:first-child {
    width: 15%;
    text-align: center;
    font-weight: bold;
    color: #666;
    font-size: 20px;
    height: 50px;
  }
  

  td:nth-child(2) {
    width: 50%;
    padding-left: 40px;
    font-size: 20px;
    height: 50px;
  }
  
  td:nth-child(2) a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    height: 50px;
   
  }
  
  td:nth-child(2) a:hover {
    text-decoration: underline;
    font-size: 20px;
    width: 50%;
    height: 50px;
  }
  

  td:not(:first-child):not(:nth-child(2)) {
    width: 10%;
    text-align: center;
    color: #666;
    font-size: 20px;
    
  }
  

  td:nth-child(3) {
    font-weight: bold;
    font-size: 20px;
  }
  

  td:last-child {
    color: green;
    font-weight: bold;
    font-size: 20px;
  }
  
  .pagination {
    display: block;
    margin-top: 1rem;  
    text-align: center;
    font-size: 20px;
}
  
  .pagination li {
    display: inline;
    background-color: #F5FFFA;
  }
  
  .pagination li a {
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    float: none;
  }
  
  .pagination li.active a {
    background-color: #F5FFFA;
    color: #fff;
    border: none;
  }
  
  .pagination li.disabled a {
    color: #F5FFFA;
    pointer-events: none;
    border: 1px solid #F5FFFA;
  }
  /* 여기서부터 위에 후보따라 글 볼 수있는 기능 카테고리*/
  .category {
    padding: 14px 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .category div {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 3px 1px #0f1013;
    border-radius: 30px;
  }
  
  .category .category1 {
    background-color: #00BFFF;
    
    display: inline-block;
    margin: 0 10px;
    width: 100px;
    height: 25px;
  }
  
  .category .category2 {
    background-color: #F08080;
    display: inline-block;
    margin: 0 10px;
    width: 100px;
    height: 25px;
  }
  
  .category .category3 {
    background-color: #FFFF00;
    display: inline-block;
    margin: 0 10px;
    width: 100px;
    height: 25px;
  }