
.qna-wrap {
  width: 100%;
  padding-top: 2rem;
}

.qna-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width:767px) {
  .qna-content {
    flex-direction: column;
  }
}

.qna-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

@media screen and (max-width:767px) {
  .qna-left {
    width: auto;
    margin: 0 10px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .qna-left {
    width: 80%;
    margin-left: 50px;
  }
}

.qna-right {
  width: 50%;
}

.qna-title {
  color: #242424;
  font-weight: 700;
  margin-bottom: 10px;
  padding-right: 5px;
}

@media screen and (max-width:767px) {
  .qna-title {
    font-size: 1.8rem;
  }
}

.categories {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  align-items: center; /* 가운데 정렬 */
  width: 40%;
  margin-top: 3rem;
}

@media screen and (max-width:767px) {
  .categories {
    width: 100%;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .categories {
    width: 50%;
  }
}

.qna-button {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  background-color: #494fa5; /* 배경색 변경 */
  color: #fff; /* 텍스트 색상 변경 */
  font-size: 18px; /* 텍스트 크기 변경 */
  text-align: center;
  font-weight: 700; /* 글꼴 두껍게 설정 */
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.qna-button:hover {
  background-color: #78c7d2; /* 호버 시 배경색 변경 */
}

@media screen and (max-width:767px) {
  .qna-button{
    font-size: 15px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .qna-button{
    font-size: 16px;
  }
}

.custom-qna {
  color: #47c880;
}

.qna-h2 {
  margin-bottom: 30px;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: rgb(11, 2, 110);
}

@media screen and (max-width:767px) {
  .qna-h2 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .qna-h2 {
    font-size: 1.4rem;
  }
}

.qna_info {
  font-weight: 600;
}

@media screen and (max-width:767px) {
  .qna_info {
    display: none;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .qna_info {
    font-size: 0.9rem;
  }
}

.custom-wrap .custom-content .custom-left p {
  color: #757575;
  margin-top: 20px;
  line-height: 2rem;
}
