.qnatable-table {
  width: 70%; 
  height: 500px;
  margin: 0 auto; 
  vertical-align: middle;
  border-collapse: collapse;
}
.qnatable-table thead th{
  text-align: center;
}
.parent-element {
  width: 70%; 
}

  .table-body.qnatable-table {
    text-decoration: none;
    text-align: center;
  }
 
  
  .table-body.qnatable-table > tr {
    border-top: 1px solid #ccc;
  }
  .qna-pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
  }
  
  .qna-page-item {
    display: inline-block;
    margin: 0 10px;
  }
  
  .qna-page-link {
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .qna-page-link:hover {
    background-color: #f5f5f5;
  }
  
  .qna-page-link.disabled {
    background-color: #f5f5f5;
    color: #bbb;
    cursor: not-allowed;
  }
  
  .qna-page-link.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  .qna-page-link.active:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  .qna-page-item:hover .qna-page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }



  
  .btn.btn-default.btn-write {
    border: 1px solid #ccc;
    width: 150px;
    float:right;
    margin-right: 230px;
  }
  