.qna-wrap {
  width: 100%;
}

.qna {
  color: #47c880;
}

.qna-content {
  display: flex;
}

.qna-title {
  text-align: center;
}

.qna-h2 {
  font-size: 23px;
  font-weight: bold;
}

.qna-left {
  margin: 10% 10% 5%;
}

.qna-right {
  margin: 10% 5% 10%;
  width: 40%;
  background-color: #d1d1d1b9;
}