.parent-container {
  margin: 0 -10%;
}

.qna-write-form__container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  max-width: 800px; 
  text-align: center;
  margin: 3% auto;
}

@media screen and (max-width:767px) {
  .qna-write-form__container {
    max-width: 400px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .qna-write-form__container {
    max-width: 700px;
  }
}

.qna-write-form__label {
  display: block; /* 세로로 나열하기 위해 display 속성 변경 */
  margin-bottom: 1rem;
  min-width: 700px;
  text-align: left; 
  font-size: 20px; 
  font-weight: bold; 
  color: #545ee4; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  font-family: 'Helvetica', sans-serif;
}

@media screen and (max-width:767px) {
  .qna-write-form__label {
    min-width: 350px;
    white-space: normal;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .qna-write-form__label {
    min-width: 600px;
    white-space: normal;
  }
}

/* 입력 필드 스타일 */
.qna-form__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #c4c4c4;
  padding: 0.5rem 0;
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  font-weight: bold; /* 폰트 두껍게 설정 */
  resize: none;
  background-color: transparent; /* 배경색 투명으로 변경 */
}

.qna-write-form__textarea {
  width: 100%;
  height: 300px;
  padding: 0.5rem 0;
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  font-weight: bold; /* 폰트 두껍게 설정 */
  resize: none;
  background-color: transparent; /* 배경색 투명으로 변경 */
}

.qna-form__input:focus,
.qna-write-form__textarea:focus {
  outline: none;
  border-bottom: 2px solid #2c3e50;
}

/* 버튼 스타일 */
.qna-write-form__button {
  width: 45%; /* 버튼 크기를 조정 */
  border: none;
  background-color: #007bff; /* 버튼 배경색 변경 */
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold; /* 폰트 두껍게 설정 */
  padding: 1rem; /* 여백 더 추가 */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* 버튼 위 여백 추가 */
  margin-right: 10px; /* 오른쪽 여백 추가 */
}

.qna-write-form__button:hover {
  background-color: #76b2f3; /* 호버 시 배경색 변경 */
}
.qna-cancel-button {
  background-color: #f18686; /* 빨간색 배경색 설정 */
}