* {
    margin:0%;
    padding:0%;
    text-decoration:none;
    font-family:Arial;
}

body {
    background-color:white;
}

img {
    position:relative;
    width:100%;
    height:auto;
    top:-35%;
    left:0%;
}

.Account {
    position:absolute;
    width:350px;
    height:350px;
    background:white;
    text-align:center;
    top:27%;
    left:50%;
    transform: translate(-50%, -50%);
}

.TextForm {
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}

.TextForm input::placeholder {
    color:#636e72;
    font-weight:bold;
}

select {
    color:#636e72;
    font-weight:bold;
}

option:not(:first-of-type) {
    color:black;
}

.CN {
    width: 100%;
    border:none;
    outline:none;
    color:#636e72;
    font-size:15px;
    font-weight:bold;
    height:20px;
    background: none;
}

.SN {
    width: 100%;
    border:none;
    outline:none;
    color:#636e72;
    font-size:15px;
    font-weight:bold;
    height:20px;
    background: none;
}

.DEP {
    width: 100%;
    border:none;
    outline:none;
    font-size:15px;
    height:20px;
    background: none;
}

.PW {
    width: 100%;
    border:none;
    outline:none;
    color:#636e72;
    font-size:15px;
    font-weight:bold;
    height:20px;
    background: none;
}

.PWC {
    width: 100%;
    border:none;
    outline:none;
    color:#636e72;
    font-size:15px;
    font-weight:bold;
    height:20px;
    background: none;
}

.PN {
    width: 100%;
    border:none;
    outline:none;
    color:#636e72;
    font-size:15px;
    font-weight:bold;
    height:20px;
    background: none;
}

.BTN1 {
    position:absolute;
    width:80%;
    height:13%;
    top:165%;
    left:10%;
    background:rgb(22, 25, 61);
    color:white;
    font-size:15px;
    font-weight: bold;
    border:none;
    cursor:pointer;
    display:inline;
}

.BTN2 {
    position:absolute;
    width:80%;
    height:13%;
    top:180%;
    left:10%;
    background:rgb(22, 25, 61);
    color:white;
    font-size:15px;
    font-weight: bold;
    border:none;
    cursor:pointer;
    display:inline;
}