* {
    margin:0px;
    padding:0px;
    text-decoration:none;
    font-family:Arial;
}

body {
    background-color:body;
}

.Joined {
    position:absolute;
    padding:30px 40px;
    background:white;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

img {
    position:absolute;
    left:25%;
    top:-200%;
}

.Message {
    color:black;
    font-weight:bold;
    top:50%;
}

.TextForm {
    border-bottom: 2px solid white;
    margin: 30px;
    padding: 10px 10px;
}

img {
    width:200px;
    height:200px;
}

.BTN1 {
    position:absolute;
    width:80%;
    height:50px;
    left:-40%;
    top:150%;
    background:rgb(22, 25, 61);
    color:white;
    font-size:15px;
    font-weight: bold;
    border:none;
    cursor:pointer;
    display:inline;
}

.BTN2 {
    position:absolute;
    width:80%;
    height:50px;
    left:50%;
    top:150%;
    background:rgb(22, 25, 61);
    color:white;
    font-size:15px;
    font-weight: bold;
    border:none;
    cursor:pointer;
    display:inline;
}