* {
    margin:0px;
    padding:0px;
    text-decoration:none;
    font-family:Arial;
}

body {
    background-color:rgb(222, 222, 222);
}

.Login {
    position:absolute;
    width:70%;
    height:80%;
    text-align:center;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
}

.LoginLeft {
    width:50%;
    height:70%;
    background:white;
    float:left;
    border-radius: 10px 0px 0px 10px;
}

.LoginRight {
    width:50%;
    height:70%;
    background:linear-gradient(to bottom,rgb(0, 187, 255), rgb(122, 122, 233));
    float:right;
    border-radius: 0px 10px 10px 0px ;
}

.Writing {
    color:Black;
    font-weight:bold;
    margin:20px;
}

.Title {
    margin:30px;
    color:white;
    font-weight:bold;
}

.TextForm {
    border-bottom: 2px solid white;
    margin: 30px;
    padding: 10px 10px;
}

.TextForm input::placeholder {
    color:white;
    font-weight:bold;
}

.CN {
    width:100%;
    border:none;
    outline:none;
    color:white;
    font-size:15px;
    font-weight:bold;
    height:20px;
    background: none;
}

.PW {
    width:100%;
    border:none;
    outline:none;
    color:white;
    font-size:15px;
    font-weight:bold;
    height:20px;
    background: none;
}

.BTN1 {
    position:relative;
    margin-bottom:5px;
    width:60%;
    height:50px;
    border-radius: 10px;
    background:linear-gradient(to bottom,rgb(75, 78, 119), rgb(27, 27, 58));
    color:white;
    font-size:15px;
    font-weight: bold;
    border:none;
    cursor:pointer;
    display:inline;
}

.BTN2 {
    width:60%;
    height:50px;
    border-radius: 10px;
    background:linear-gradient(to bottom,rgb(75, 78, 119), rgb(27, 27, 58));
    color:white;
    font-size:15px;
    font-weight: bold;
    border:none;
    cursor:pointer;
    display:inline;
}