* {
    margin:0px;
    padding:0px;
    text-decoration:none;
    font-family:Arial;
}

.Login {
    position:absolute;
    width:30%;
    height:30%;
    padding:30% 20%;
    background:white;
    text-align:center;
    top:40%;
    left:29%;
    transform: translate(-50%, -50%);
}

img {
    position:absolute;
    width:45%;
    height:auto;
    left:88%;
    top:35%;
}

.VLine {
    position:absolute;
    border-left:3px solid #adadad;
    height:50%;
    top:30%;
    left:78%;
}

.Title {
    margin:30px;
    color:black;
    font-weight:bold;
}

.TextForm {
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}

.TextForm input::placeholder {
    color:#636e72;
    font-weight:bold;
}

.CN {
    width:100%;
    border:none;
    outline:none;
    color:#636e72;
    font-size:15px;
    font-weight:bold;
    height:20px;
    background: none;
}

.PW {
    width:100%;
    border:none;
    outline:none;
    color:#636e72;
    font-size:15px;
    font-weight:bold;
    height:20px;
    background: none;
}

.BTN1 {
    position:relative;
    margin-bottom:5px;
    width:80%;
    height:50px;
    background:rgb(22, 25, 61);
    color:white;
    font-size:15px;
    font-weight: bold;
    border:none;
    cursor:pointer;
    display:inline;
}

.BTN2 {
    width:80%;
    height:50px;
    background:rgb(22, 25, 61);
    color:white;
    font-size:15px;
    font-weight: bold;
    border:none;
    cursor:pointer;
    display:inline;
}