.modal_container {
  width: 300px;
  height: auto;
  z-index: 999;
  position: absolute;
  top: 38.8vh;
  left: 85vw;
  transform: translate(-50%, -50%);
  background-color: #f6faff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  margin-left: 80%;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width:767px) {
  .close {
    margin-left: 85%;
  }
}

.modal_header {
  background-color: white;
  height: 8vh;
  border-top-left-radius: 8px;
  padding: 20px 20px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_profile {
  font-weight: 700;
}

.close {
  border: none;
  background-color: white;
}

.modal_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 10%;
}

.modal_img>img {
  border-radius: 50%;
}

.modal_name {
  font-size: 20px;
  font-weight: 600;
}

.modal_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.modal_buttons>p {
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px #d7e2eb solid;
  font-weight: 600;
}

.modal_button_blue {
  background-color: #0078ff;
  color: white;
  margin-right: 3%;
  cursor: pointer;
}

.modal_button_blue:hover {
  background-color: #95c4fa;
}

.modal_button_white {
  background-color: white;
  cursor: pointer;
}

.modal_button_white:hover {
  background-color: rgb(229, 229, 229);
}

.modal_footer {
  background-color: white;
  display: flex;
  align-items: center;
  height: 10vh;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}

.modal_footer_logout {
  margin-left: 10%;
  font-size: 20px;
  font-weight: bold;

}

@media screen and (max-width: 499px) {
  .modal_container {
    /* 모달창 크기 */
    width: 100%;
    /* 최상단 위치 */
    z-index: 999;

    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 30vh;
    left: 50vw;
    
    transform: translate(-50%, -50%);

    /* 모달창 디자인 */
  }
}

@media screen and (min-width:500px) and (max-width: 767px) {
  .modal_container {
    /* 모달창 크기 */
    width: 100%;
    /* 최상단 위치 */
    z-index: 999;

    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 40vh;
    left: 50vw;
    
    transform: translate(-50%, -50%);

    /* 모달창 디자인 */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal_container {
    /* 모달창 크기 */
    width: 300px;
    /* 최상단 위치 */
    z-index: 999;

    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 38.8vh;
    left: 76vw;
    transform: translate(-50%, -50%);

    /* 모달창 디자인 */
  }
}