.main_content_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 100%;
  justify-content: center;
  padding-bottom: 100px;
  border-top: 2px solid #aaaaaac4;
  width: 100%;
  overflow-x: hidden;
}

.main_content {
  display: flex;
  width: 100%;
  max-width: 90%;
  flex-direction: column;
  align-items: center;
}

.banner {
  background: linear-gradient(231.73deg, #0090da 0%, #051060 100%);
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin: 1.5rem;
}

.banner_info {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-radius: 0.9375rem;
  animation: banner_fade 1s ease-in-out;
}

@media screen and (max-width:1023px) {
  .banner_info {
    flex-direction: column;
  }
}

@keyframes banner_fade{
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.banner_left {
  width: auto;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 100px 0px 100px 100px;
}

@media screen and (max-width:767px) {
  .banner_left {
    margin: 50px 10px 50px 30px;
  }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .banner_left {
    margin: 50px 0px 50px 50px;
  }
}

.banner-vote {
  font-weight: bolder;
  font-size: 2.5rem;
}

@media screen and (max-width:767px) {
  .banner-vote {
    font-size: 1.5rem;
  }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .banner-vote {
    font-size: 2rem;
  }
}

.banner-written {
  font-weight: bold;
  font-size: 1.4rem;
}

@media screen and (max-width:767px) {
  .banner-written {
    font-size: 1rem;
  }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .banner-written {
    font-size: 1.2rem;
  }
}

.banner-date {
  font-weight: bold;
  font-size: 1.4rem;
}

@media screen and (max-width:767px) {
  .banner-date {
    font-size: 1rem;
  }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .banner-date {
    font-size: 1.2rem;
  }
}

.banner_right {
  display: flex;
  margin: auto;
}

.banner_img {
  width: 400px;
}

@media screen and (max-width:767px) {
  .banner_img {
    width: 200px;
    margin-bottom: 10%;
    margin-left: 45%;
  }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  .banner_img {
    width: 300px;
    margin-bottom: 10%;
    margin-left: 70%;
  }
}

.vote_container {
  display: flex;
  min-height: 21.0625rem;
  flex-direction: column;
  padding: 1.5625rem 1.75rem 1.6875rem;
  border: 0.0625rem solid #d7e2eb;
  border-radius: 1rem;
}

.vote_name {
  font-weight: bold;
  margin-bottom: 1rem;
}

.vote_info {
  margin: 1rem;
}

.voting_day {
  color: #0090da;
  font-weight: 500;
}

.vote_action {
  margin: auto;
  text-align: center;
  width: 100%;
}

.vote_info_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 1.9375rem;
}

.section-title {
  margin-bottom: 1rem;
  text-align: center;
}

.section-title .main_title {
  font-Weight: bold;
  font-size: 5rem;
  color: #0a265b;
}

@media screen and (max-width:767px) {
  .section-title .main_title {
    margin-bottom: 0.5rem;
    font-size: 2.1rem;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .section-title .main_title {
    margin-bottom: 1rem;
    font-size: 3.5rem;
  }
}

.section-title .sub_title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width:767px) {
  .section-title .sub_title {
    font-size: 1rem;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .section-title .sub_title {
    font-size: 1.1rem;
  }
}

.section-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
}

@media screen and (max-width:767px) {
  .section-info {
    flex-direction: column;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .section-info {
    flex-direction: column;
  }
}

@media screen and (min-width:1024px) {
  .section-info {
    flex-direction: row;
  }
}

.section-info-content {
  white-space: pre-line;
  text-align: center;
  margin-top: 10%;
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width:767px) {
  .section-info-content {
    margin-top: 5%;
    font-size: 1rem;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .section-info-content {
    font-size: 1.1rem;
  }
}

.section-info-title {
  font-weight: bold;
  font-size: 2.5rem;
  color: #00052b;
}

@media screen and (max-width:767px) {
  .section-info-title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .section-info-title {
    font-size: 2rem;
  }
}

.section-info-wrapper {
  text-align: center;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:1024px) {
  .section-content {
    width: 50%;
  }
}

.swiper-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 3rem;
}

.mySwiper {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

@media screen and (max-width:767px) {
  .mySwiper {
    width: 80%;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .mySwiper {
    width: 70%;
  }
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.5;
  transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.tab-wrapper {
  width: 100%;
}

.tabs-list {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.tab-img {
  width: 100px;
}

@media screen and (max-width:767px) {
  .tab-img {
    width: 50px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .tab-img {
    width: 80px;
  }
}

.problem-list {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.tab {
  width: 33.33%;
  background-color: #f1f1f1;
  border: 1px white solid;
  margin: 0 auto;
  color: #333333;
  line-height: 4rem;
  font-weight: bold;
  transition: 0.5s;
}

@media screen and (max-width:767px) {
  .tab {
    font-size: 0.9rem;
  }
}

.tab.active {
  width: 33.33%;
  background-color: #0a265b;
  color: #fff;
  line-height: 4rem;
  font-weight: bold;
}

@media screen and (max-width:767px) {
  .tab.active {
    font-size: 0.9rem;
  }
}

.info-wrap {
  width: calc(100% - 10rem);
}

.main_move_top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 50
}

.move_logo {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0, 0, 0, .15);
  vertical-align: top;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.move_logo:hover {
  opacity: 1.0;
}

.move_logo:active {
  opacity: 1.0;
  background-color: #a3bfdf;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  height: auto;
  background: #202942;
  padding: 30px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
}

.producers {
  color: azure;
  font-weight: bold;
  margin-top: 5px;
  padding: 0 10px;
  cursor: pointer;
}

.footer-logo {
  display: flex;
  padding: 2rem;
  margin: auto;
}

.under-logo {
  width: 200px;
  height: auto;
}

@media screen and (max-width:767px) {
  .under-logo {
    width: 150px;
  }
}

.main-btn {
  color: #4ec0e9;
  background-color: #ffffff;
  border: 1px solid #4ec0e9;
  border-radius: 5px;
  width: 50%;
  height: 2.5rem;
  transition: .3s;
}

.main-btn:hover {
  background-color: #4ec0e9;
  color: #ffffff;
}

.go-link {
  width: 50%;
  background-color: #eef6ff;
  border: 1px white solid;
  color: #0177ff;
  line-height: 4rem;
  margin: 0 10px;
  border-radius: 16px;
  padding-top: 10px;
  height: auto;
  transition: 0.5s;
}

.go-link:hover {
  box-shadow: 0 0 10px 5px rgb(206, 206, 206);
}

@media screen and (max-width:767px) {
  .go-link {
    line-height: 2rem;
    margin: 0 5px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .go-link {
    line-height: 3rem;
  }
}

@media screen and (min-width:1024px) {
  .go-link {
    line-height: 4rem;
  }
}

.tab-label {
  font-weight: 600;
  font-size: 1.2rem;
}

@media screen and (max-width:767px) {
  .tab-label {
    font-size: 0.7rem;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .tab-label {
    font-size: 1rem;
  }
}

@media screen and (min-width:1024px) {
  .tab-label {
    font-size: 1.3rem;
  }
}

.votebox-info {
  background: #fff;
  border-radius: 20px 20px;
  margin: 5%;
}

.votebox-tit {
  position: relative;
  line-height: 4.6rem;
  background: #333;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.votebox-desc {
  padding-top: 2rem;

}

.votebox-link {
  padding-top: 2.3rem;
}

.votebox-dan {
  font-size: 13px;
  white-space: nowrap;
  padding-bottom: 2rem;
}

.votebox-wrapper {
  background-color: #eaf6f9;
  padding: 5%;
  margin-bottom: 5%;
}

.pass-box {
  background: #eb3522;
  color: #fff;
  padding-top: 0.5rem;
  text-align: center;
}

.votebox-submit {
  width: 100%;
  height: 7vh;
  border-radius: 5px;
  background-color: #386ad6;
  border: 1px solid rgba(222, 222, 222, 0.2);
  color: white;
  margin-top: 5%;
}

/* 애니메이션 */
.section-title,
.section-content,
.mySwiper,
.problem-list,
.tab_content_container,
.future-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.section-title.active,
.section-content.active,
.mySwiper.active,
.problem-list.active,
.tab_content_container.active,
.future-wrapper.active {
  opacity: 1;
  transform: translateY(0);
}

.future-wrapper.active .future-info {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.future-wrapper .future-info {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.future-wrapper.active .future-info:nth-child(1) {
  transition-delay: 0.1s;
}

.future-wrapper.active .future-info:nth-child(2) {
  transition-delay: 0.3s;
}

.future-wrapper.active .future-info:nth-child(3) {
  transition-delay: 0.5s;
}

.future-wrapper.active .future-info:nth-child(4) {
  transition-delay: 0.7s;
}
