.main_content_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 100%;
  padding-bottom: 100px;
  border-top:  1px solid #aaa;
}

.main_content {
  display: flex;
  width: 100%;
  max-width: 90%;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25rem;
}

.banner {
  background: linear-gradient(231.73deg, #0090da 0%, #051060 100%);
  width: 100%;
  border-radius: 2rem;
  margin: 3rem 0;
}

.banner_info {
  position: relative;
  display: grid;
  overflow: hidden;
  height: 100%;
  border-radius: 0.9375rem;
  grid-template-columns: repeat(2, auto);
}

.banner_left {
  color: white;
  z-index: 1;
  color: #fff;
  word-break: keep-all;
  padding: 100px;
}

.banner_right {
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  padding: 100px;
  margin: auto;
}

.banner_img {
  width: auto;
}

.vote_container {
  display: flex; 
  min-height: 21.0625rem;
  flex-direction: column;
  padding: 1.5625rem 1.75rem 1.6875rem;
  border: 0.0625rem solid #d7e2eb;
  border-radius: 1rem;
}

.vote_name {
  font-weight: bold;
  margin-bottom: 1rem;
}

.vote_info {
  margin: 1rem;
}
.voting_day {
  color: #0090da;
  font-weight: 500;
}
.vote_action {
  margin: auto;
  text-align: center;
  width: 100%;
}

.vote_info_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 1.9375rem;
}

.section-title {  
  margin-bottom: 1.5rem;
}

.section-title .main_title {
  font-Weight: bold;
  font-size: 5rem;
  color: #0a265b;
}

.section-title .sub_title {
  text-align: center;
}

.section-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
}

.section-info-title {
  font-family: bold;
  font-size: 2.5rem;
}

.section-info-content {
  white-space: pre-line;
  text-align: center;
  margin-top: 10%;
  font-size: 1.2rem
}

.section-info-wrapper {
  text-align: center;
}

.section_content {
  display : flex;
  justify-content: center;
  align-items : center;
  width: 50%;
}

.swiper-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 3rem;
}

.mySwiper {
  width: 50%;
  height: 50%;
}

.tab-wrapper {
  width:100%;
}

.tabs-list {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.tab {
  width: 33.33%;
  background-color: #f1f1f1;
  border: 1px white solid;
  margin: 0 auto;
  color: #333333;
  line-height: 4rem;
}

.tab.active {
  width: 33.33%;
  background-color: #0a265b;
  color: #fff;
  line-height: 4rem;
}

.info-wrap {
  width: calc(100% - 10rem);
}

.footer {
  height: 100px;
  position : relative;
  background: #202942;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.main-btn {
  color: #4ec0e9;
  background-color: #ffffff;
  border: 1px solid #4ec0e9;
  border-radius: 5px;
  width: 50%;
  height: 2.5rem;
  transition: .3s;
}

.main-btn:hover {
  background-color: #4ec0e9;
  color: #ffffff;
}