.tab_content_container {
  padding: 3rem;
}

.tab_contnet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.tab_contnet_img {
  width: 100px;
}

@media screen and (max-width:767px) {
  .tab_contnet_img {
    width: 60px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .tab_contnet_img {
    width: 80px;
  }
}

.tab_contnet_title {
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
}

@media screen and (max-width:767px) {
  .tab_contnet_title {
    font-size: 0.8rem;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .tab_contnet_title {
    font-size: 0.9rem;
  }
}

.content_title {
  font-weight: bold;
}