.nw_form {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 100vh;
  background-color: #1e2029;
  flex-direction: column;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width:767px) {
  .nw_form {
    overflow-x: hidden;
  }
}

.nw_form p {
  margin-bottom: 0rem;
}

.nw_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 15%;
  text-align: center;
  padding: 20px;
  color: white;
}

.nw_header1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3.3rem;
  font-weight: bold;
  filter: blur(10px);
  opacity: 0.6;
  color: #fff;
}

.mask {
  position: absolute;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  left: 0px;
  width: 100%;
  clip: rect(0px,300px,300px,0px);
  color: #fff;
  transform: translateX(0);
  animation: mask 4s  infinite alternate;
  animation-delay: 5s;
}

.text {
  transform: translateX(0);
  animation: text 4s  infinite alternate;
  font-size: 3.3rem;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  animation-delay: 5s;
}

@keyframes mask {
  to {
    transform: translateX(200px);
  }
}

@keyframes text {
  to {
    transform: translateX(-200px);
  }
}

.nw_label2 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10% 0% 8% 10%;
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  color: transparent;
  line-height: 2;
}

@media screen and (max-width:767px) {
  .nw_label2 {
    margin-left: 20px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .nw_label2 {
    margin-left: 50px;
  }
}

/* .svg_button {
  animation: motion 1s linear 0s infinite alternate;}
        
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 20px;}
} */

.nw_text1 {
  margin-bottom: 1rem;
}

.nw_text2 {
  margin-bottom: 1rem;
}

.nw_text3 {
  margin-bottom: 1rem;
}

.nw_text1::before {
  content: "공약을 한눈에 정리해 놓은곳은 없을까?";
  position: absolute;
  margin-left: 1rem;
  color: white;
  overflow: hidden;
  animation: typing 2s steps(50);
  margin-bottom: 1rem;
}

.nw_text2::before {
  content: "지금 선거 해야 하는데 공약을 볼 시간이 없네...";
  position: absolute;
  margin-left: 3rem;
  color: white;
  overflow: hidden;
  animation: typing 3s steps(50);
  margin-bottom: 1rem;
}

.nw_text3::before {
  content: "내 성향에 맞는 후보를 쉽고 빠르게 찾고 싶어!";
  position: absolute;
  margin-left: 5rem;
  color: white;
  overflow: hidden;
  animation: typing 4s steps(50);
  margin-bottom: 1rem;
}

@keyframes typing{
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
  200% {
    width: 100%;
  }
}

.result_borde {
  border: 1px solid white;
  margin: 7% auto;
  padding: 5%;
  margin-bottom: 1rem;
  line-height: 2;
}

.start_button_margin {
  display: flex;
}

.touch_button {
  margin: 50px auto;
  height: 25px;
}

@media (max-height: 600px) {
  .nw_form {
    overflow-y: hidden;
  }
}

@media (min-width: 375px) {
  .nw_form {
    max-width: 100%;
  }
}

@media (min-width: 575px) {
  .nw_form {
    max-width: 600px;
  }
}
