.category_top {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 5%;
}

.category_label1 {
  font-weight: bold;
  color: darkslategrey;
}

.category_middle {
  display: flow-root;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding: 5%;
}

.category_btn {
  margin: 5px;
  background: lightcyan;
  border: 1px solid rgb(211, 119, 119);
  border-radius: 1cqb;
  cursor: pointer;
  align-items: center;
}

.category_bottom {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 5%;
}

.category_next {
  background: lightcyan;
  border: 1px solid rgb(211, 119, 119);
  border-radius: 1cqb;
  cursor: pointer;
  align-items: center;
}