.qna_category {
  display: flex;
  flex-direction: column;
}

.select_label1 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(12, 12, 125);
}

.qna_imgmargin {
  padding: 10%;
  margin: 5% 15% 5% 15%;
  border: 3px solid rgb(0, 0, 79);
}

.qna_img {
  width: 150px;
}

.qna_select {
  margin-top: 5%;
  display: flow-root;
  flex-direction: column;
}

.select_label2 {
  width: auto;
  margin: 5px;
  padding: 3px;
  background: white;
  border: 2px solid rgb(13, 13, 81);
  border-radius: 0.3rem;
  cursor: pointer;
  align-items: center;
  font-weight: bold;
  color: rgb(13, 13, 81);
  transition: 0.5s ease-out;
}

.select_label2:hover {
  background-color: rgb(13, 13, 81);
  color: white;
  transition: 0.5s ease-out;
}

.select_label2_selected {
  width: auto;
  margin: 5px;
  padding: 3px;
  background: rgb(13, 13, 81);
  border: 2px solid rgb(13, 13, 81);
  border-radius: 0.3rem;
  cursor: pointer;
  align-items: center;
  font-weight: bold;
  color: white;
}