.category_top {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 5%;
}

.category_label1 {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(201, 94, 94);
}

.category_label2 {
  margin-top: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(150, 39, 56);
}

.count_margin {
  margin-top: 30px;
  display: flex;
  height:100%;
  text-align: center;
  justify-content:flex-end;
}

.category_label3 {
  margin-top: 11px;
  margin-bottom: 11px;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(211, 119, 119);
}

.category_count {
  margin: 10px;
  font-weight: bold;
  width: 50px;
  text-align: center;
  background: white;
  border: 2px solid rgb(211, 119, 119);
  border-radius: 0.3rem;
  color: rgb(211, 119, 119);
}

.category_middle {
  display: flow-root;
  width: 100%;
  height: 30%;
  margin: auto;
  text-align: center;
  padding: 5%;
}

.category_btn {
  width:30%;
  margin: 5px;
  background: white;
  border: 2px solid rgb(211, 119, 119);
  border-radius: 0.3rem;
  cursor: pointer;
  align-items: center;
  font-weight: bold;
  color: rgb(211, 119, 119);
  transition: 0.5s ease-out;
}

.category_btn:hover {
  background-color: rgb(211, 119, 119);
  color: white;
  transition: 0.5s ease-out;
}

.category_btn.selected {
  width:30%;
  margin: 5px;
  background: rgb(211, 119, 119);
  border: 2px solid rgb(211, 119, 119);
  border-radius: 0.3rem;
  cursor: pointer;
  align-items: center;
  font-weight: bold;
  color: white;
}

.category_bottom {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 5%;
}

.category_next {
  width: 50%;
  height: auto;
  background: white;
  border: 2px solid rgb(211, 119, 119);
  border-radius: 0.3rem;
  cursor: pointer;
  align-items: center;
  margin: auto;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(211, 119, 119);
  transition: 0.5s ease-out;
}

.category_next:hover {
  background-color: rgb(211, 119, 119);
  color: white;
  transition: 0.5s ease-out;
}

.category_next:disabled {
  color: lightgray;
  cursor: not-allowed;
}

.category_next:disabled:hover {
  background-color: white;
  cursor: not-allowed;
  transition: none;
}