.nawoo_form {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  background-color: white;
  flex-direction: column;
  margin: auto;
  border: 3px solid rgb(0, 0, 79);
}

@media (max-height: 600px) {
  .nawoo_form {
    overflow-y: hidden;
  }
}

@media (min-width: 375px) {
  .nawoo_form {
    max-width: 350px;
  }
}

@media (min-width: 575px) {
  .nawoo_form {
    max-width: 400px;
  }
}

@media (min-width: 575px) {
  .nawoo_form {
    max-width: 500px;
  }
}

.nawoo_top {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.nawoo_logo {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-width: 1.5rem;
  margin: auto;
  padding: 10%;
  color: rgb(13, 13, 81);
}

@media (min-width: 275px) {
  .nawoo_logo {
    font-size: 1.6rem;
  }
}

@media (min-width: 575px) {
  .nawoo_logo {
    font-size: 1.8rem;
  }
}

@media (min-width: 767px) {
  .nawoo_logo {
    font-size: 2rem;
  }
}

.nawoo_middle {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: auto;
  text-align: center;
  cursor: crosshair;
}

.nawoo_img {
  display: flex;
  position: relative;
  width: 300px;
  height: auto;
  flex-direction: column;
  margin: auto;
  opacity: 0.3;
  transition: 0.5s ease-out;
}

.nawoo_img:hover {
  opacity: 1.0;
  transition: 0.5s ease-out;
}

.nawoo_bottom {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: auto;
  text-align: center;
}