.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  height: auto;
  background: #202942;
  padding: 30px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
}

.producers {
  color: azure;
  font-weight: bold;
  margin-top: 5px;
  padding: 0 10px;
}