.qna-footer {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
  bottom: 0;
  text-align: center;
  right: 0;
  height: 50px;
  background-color: #ccd5df;
  z-index: 1;
  width: 100%;
}
.qna-footer-container{
  flex: 1;
}
