body {
    background: linear-gradient(to right, blue, rgb(205, 205, 249));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
}

a {
    cursor: pointer;
    text-decoration: none;
}

input::placeholder {
    color:#b9b9b9;
    font-weight: 600;
}

select {
    color:#b9b9b9;
    font-weight: 600;
}

.join_site {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.join_header {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 8.75rem;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(to right, blue, rgb(205, 205, 249));
}

@media (max-width: 575px) {
    .join_header {
        height: 4.125rem;
    }
}

.join_logo {
    display: flex;
    width: 1200px;
    height: 4.75rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    color: #fff;
}

@media (max-width: 575px) {
    .join_logo {
        font-size: 2.5rem;
    }
}

.join_main1 {
    display: flex;
    justify-content: center;
}

.join_main2 {
    display: grid;
    width: 1200px;
    height: 100%;
    padding: 0 1.25rem;
    grid-template-columns: auto 380px;
}

@media (max-width: 991px) {
    .join_main2 {
        grid-template-columns: auto 380px;
    }
}

@media (max-width: 767px) {
    .join_main2 {
        justify-content: center;
        grid-template-columns: 468px;
    }
}

@media (max-width: 575px) {
    .join_main2 {
        grid-template-columns: 1fr;
    }
}

.join_bodyleft {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.join_letter {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 700;
    margin-top: 1.55rem;
}

@media (max-width: 575px) {
    .join_letter {
        display: none;
    }
}

@media (max-width: 991px) {
    .join_letter {
        font-size: 1.25rem;
    }
}

.loginimg_01 {
    width: 50%;
    max-width: 31.25rem;
    margin: left;
    margin-top: 1.25rem;
    display: block;
}

@media (max-width: 767px) {
    .loginimg_01 {
        display: none;
    }
}

.join_bodyright {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10%;
}

.join_form {
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 0.9375rem;
    margin-top: 6.75rem;
    background: #f9fafb;
}

@media (max-width: 767px) {
    .join_form {
        margin-top: 2.75rem;
    }
}

.join_normal {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.join_formtop {
    display: grid;
    width: 100%;
    height: 3.125rem;
    align-items: center;
    border-radius: 0.9375rem 0.9375rem 0 0;
    background: #f4f4f4;
    grid-template-columns: 1fr 1fr;
}

.join_topnormal {
    box-sizing: content-box;
    padding-bottom: 1rem;
    background: #fff;
    color: #0078ff;
    font-weight: 1000;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0.9375rem 0.9375rem 0 0;
    margin: auto;
}

@media (max-width: 575px) {
    .join_topnormal {
        font-size: 0.9375em;
    }
}

.join_topmanage {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0.9375rem 0.9375rem 0 0;
    margin: auto;
    background: #f4f4f4;
    font-weight: 600;
    color:black;
}

@media (max-width: 575px) {
    .join_topmanage {
        font-size: 0.9375em;
    }
}

.join_formbottom {
    width: 100%;
    height: 100%;
    padding: 1.875rem 2rem;
    border-radius: 0.9375rem;
    background: #fff;
}

@media (max-width: 575px) {
    .join_formbottom {
        padding: 1.875rem 1.25rem;
    }
}

.join_nlabel1 {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: .9125rem;
    font-weight: 700;
}

.join_ninput1 {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.join_nclassnumber {
    padding-left: 2.75rem;
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 2.5rem 0.5rem 0.875rem;
    border: 1px solid #d2d2d2;
    border-radius: 0.25rem;
}

.join_nlabel2 {
    margin-top: 2.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: .9125rem;
    font-weight: 700;
}

.join_ninput2 {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.join_nname {
    padding-left: 2.75rem;
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 2.5rem 0.5rem 0.875rem;
    border: 1px solid #d2d2d2;
    border-radius: 0.25rem;
}

.join_nlabelst {
    margin-top: 2.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: .9125rem;
    font-weight: 700;
}

.join_nselect {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.join_ndep {
    padding-left: 2.75rem;
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 2.5rem 0.5rem 0.875rem;
    border: 1px solid #d2d2d2;
    border-radius: 0.25rem;
}

.join_nlabel3 {
    margin-top: 2.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: .9125rem;
    font-weight: 700;
}

.join_ninput3 {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.join_npassword {
    padding-left: 2.75rem;
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 2.5rem 0.5rem 0.875rem;
    border: 1px solid #d2d2d2;
    border-radius: 0.25rem;
}

.join_ninput3_1 {
    margin-top: 10px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.join_npasswordchk {
    padding-left: 2.75rem;
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 2.5rem 0.5rem 0.875rem;
    border: 1px solid #d2d2d2;
    border-radius: 0.25rem;
}

.join_npasswordchkerror {
    margin-top: 2.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: .9125rem;
    font-weight: 700;
}

.join_nlabel4 {
    margin-top: 2.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: .9125rem;
    font-weight: 700;
}

.join_ninput4 {
    margin-top: 10px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.join_nnumber {
    padding-left: 2.75rem;
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 2.5rem 0.5rem 0.875rem;
    border: 1px solid #d2d2d2;
    border-radius: 0.25rem;
}

.join_nbutton {
    width: 100%;
    height: 2.75rem;
    border-radius: 4px;
    margin-top: 2.75rem;
    background: #386ad6;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}

@media (max-width:575px) {
    .join_nbutton {
        font-size: 1rem;
    }
}