.sign_site {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    border-top: 1px solid #aaa;
}

.sign_header {
    display: flex;
    width: 100%;
    height: 1.75rem;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: white;
}

@media (max-width: 575px) {
    .sign_header {
        height: 1.75rem;
    }
}

.sign_wrapper {
    display: flex;
    justify-content: center;
}

.sign_main {
    display: grid;
    width: 1200px;
    height: 100%;
    padding: 0 1.25rem;
    grid-template-columns: auto 380px;
    animation: sign_fade 1s ease-in-out;
}

@keyframes sign_fade{
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

@media (max-width: 575px) {
    .sign_main {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .sign_main {
        justify-content: center;
        grid-template-columns: 468px;
    }
}

@media (max-width: 991px) {
    .sign_main {
        grid-template-columns: auto 380px;
    }
}

.sign_mainleft {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.sign_letter {
    font-size: 1.25rem;
    color: black;
    font-weight: 700;
    margin-top: 3.75rem;
}

@media (max-width: 575px) {
    .sign_letter {
        display: none;
    }
}

@media (max-width: 991px) {
    .sign_letter {
        font-size: 1.25rem;
    }
}

.loginimg_01 {
    width: 50%;
    max-width: 31.25rem;
    margin: left;
    margin-top: 1.25rem;
    display: block;
}

@media (max-width: 767px) {
    .loginimg_01 {
        display: none;
    }
}

.sign_mainright {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.sign_form {
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 0.9375rem;
    margin-top: 3.75rem;
    background: #f9fafb;
}

@media (max-width: 767px) {
    .sign_form {
        margin-top: 3.75rem;
    }
}

.sign_contents {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
}

.sign_formtop {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    height: 3.125rem;
    align-items: center;
    text-align: center;
    border-radius: 0.9375rem 0.9375rem 0 0;
    background: #f4f4f4;
    grid-template-columns: 1fr 1fr;
}

.sign_tab {
    display: flex;
    width: 50%;
    height: 100%;
    margin: auto;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
    border-radius: 0.9375rem 0.9375rem 0 0;
    cursor: pointer;
    text-decoration: none;
}

.sign_tab.active {
    display: flex;
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative;
    box-sizing: content-box;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    color: #0078ff;
    font-weight: 600;
    border-radius: 0.9375rem 0.9375rem 0 0;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 575px) {
    .sign_tab.active {
        font-size: 0.9375em;
    }
}

.sign_formbottom {
    width: 100%;
    height: auto;
    padding: 1.875rem 2rem;
    border-radius: 0.9375rem;
    background: #fff;
}

@media (max-width: 575px) {
    .sign_formbottom {
        padding: 1.875rem 1.25rem;
    }
}

.sign_footer {
    display: flex;
    width: 100%;
    margin-bottom: 1.75rem;
}