.register_site {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
}

.login_header {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 8.75rem;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: white;
}

@media (max-width: 575px) {
    .login_header {
        height: 3.125rem;
    }
}

.login_logo {
    display: flex;
    width: 1200px;
    height: 4.75rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    color: black;
}

@media (max-width: 575px) {
    .login_logo {
        margin-top: 10%;
        font-size: 2.5rem;
    }
}

.login_main1 {
    display: flex;
    justify-content: center;
}

.login_main2 {
    display: grid;
    width: 1200px;
    height: 100%;
    padding: 0 1.25rem;
    grid-template-columns: auto 380px;
}

@media (max-width: 575px) {
    .login_main2 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .login_main2 {
        justify-content: center;
        grid-template-columns: 468px;
    }
}

@media (max-width: 991px) {
    .login_main2 {
        grid-template-columns: auto 380px;
    }
}

.login_bodyleft {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.login_letter {
    font-size: 1.25rem;
    color: black;
    font-weight: 700;
    margin-top: 1.55rem;
}

@media (max-width: 575px) {
    .login_letter {
        display: none;
    }
}

@media (max-width: 991px) {
    .login_letter {
        font-size: 1.25rem;
    }
}

.loginimg_01 {
    width: 50%;
    max-width: 31.25rem;
    margin: left;
    margin-top: 1.25rem;
    display: block;
}

@media (max-width: 767px) {
    .loginimg_01 {
        display: none;
    }
}

.login_bodyright {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.login_form {
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 0.9375rem;
    margin-top: 6.75rem;
    background: #f9fafb;
}

@media (max-width: 767px) {
    .login_form {
        margin-top: 5.75rem;
    }
}

.login_login {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.login_formtop {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    height: 3.125rem;
    align-items: center;
    text-align: center;
    border-radius: 0.9375rem 0.9375rem 0 0;
    background: #f4f4f4;
    grid-template-columns: 1fr 1fr;
}

.sign_tab {
    display: flex;
    width: 50%;
    height: 100%;
    margin: auto;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
    border-radius: 0.9375rem 0.9375rem 0 0;
    cursor: pointer;
    text-decoration: none;
}

.sign_tab.active {
    display: flex;
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative;
    box-sizing: content-box;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    color: #0078ff;
    font-weight: 600;
    border-radius: 0.9375rem 0.9375rem 0 0;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 575px) {
    .sign_tab.active {
        font-size: 0.9375em;
    }
}

.login_topjoin {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0.9375rem 0.9375rem 0 0;
    margin: auto;
    background: #f4f4f4;
    font-weight: 600;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 575px) {
    .login_topjoin {
        font-size: 0.9375em;
    }
}

.login_formbottom {
    width: 100%;
    height: 100%;
    padding: 1.875rem 2rem;
    border-radius: 0.9375rem;
    background: #fff;
}

@media (max-width: 575px) {
    .login_formbottom {
        padding: 1.875rem 1.25rem;
    }
}

.login_label1 {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: .9125rem;
    font-weight: 700;
}

.login_input1 {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.login_classnumber {
    padding-left: 2.75rem;
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 2.5rem 0.5rem 0.875rem;
    border: 1px solid #d2d2d2;
    border-radius: 0.25rem;
}

.login_classnumber::placeholder {
    color: #d2d2d2;
    font-weight: 600;
}

.login_label2 {
    margin-top: 2.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: .9125rem;
    font-weight: 700;
}

.login_input2 {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.login_password {
    padding-left: 2.75rem;
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 2.5rem 0.5rem 0.875rem;
    border: 1px solid #d2d2d2;
    border-radius: 0.25rem;
}

.login_password::placeholder {
    color: #d2d2d2;
    font-weight: 600;
}

.login_button {
    width: 100%;
    height: 2.75rem;
    border-radius: 4px;
    margin-top: 2.75rem;
    background: #386ad6;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}

@media (max-width:575px) {
    .login_button {
        font-size: 1rem;
    }
}

.sign_fotter {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 8.75rem;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
}