.scanner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.qr_div {
  padding: 50px;
  border-radius: 1rem;
  margin: auto;
}

.qr_title {
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.qr_user {
  border-radius: 1rem;
}

.modal_div {
  display: flex;
  flex-direction: column;
}

.modal_info {
  margin: auto;
  font-weight: 600;
}