.scanner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.qr_div {
  padding: 50px;
  border-radius: 1rem;
  margin: auto;
}

.qr_title {
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.qr_user {
  border-radius: 1rem;
}

.modal_div {
  display: flex;
  flex-direction: column;
}

.modal_info {
  margin: auto;
  font-weight: 600;
}

.modal_button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 5px;
  margin: auto;
  padding-top: 20px;
  font-size: 1rem;
  width: 30%;
}

.modal_button_accept {
  background-color: rgb(117, 117, 255);
  border: none;
  border-radius: 3px;
  color: azure;
}

.modal_button_ignore {
  background-color: rgb(255, 97, 97);
  border: none;
  border-radius: 3px;
  color: azure;
}