  .containerAdmin {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 20px;
  }
  
  .btn-primary {
    background-color: #070707 !important;
    border-color: #070707 !important;
  } 
  
  .btn-primary:hover {
    background-color: #0a0a0a !important;
    border-color: #0a0a0a !important;
  }

  .form-floating {
    height: 100px;
  }

  .form-control2 {
    height: 30px;
  }