  .containerAdmin {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 20px;
  }
  
  .btn-primary {
    background-color: #070707 !important;
    border-color: #070707 !important;
  } 
  
  .btn-primary:hover {
    background-color: #0a0a0a !important;
    border-color: #0a0a0a !important;
  }

  .form-floating {
    height: 100px;
  }

  .form-control2 {
    height: 30px;
  }
  
  .make_vote {
    max-width: 50rem;
    margin: 0 auto;
  }

  .new-candidate {
    width: 100%;
    height: 100px;
    border: 2px #d1d5db solid;
    border-radius: 0.5rem;
    margin: 1% 0px;
    font-size: 1rem;
    line-height: 2.5rem;
    color: black;
    font-size: 20px;
    background-color: #fff;
  }

  .allowed_dep {
    background-color: #f6f6f6;
    padding: 1%;
    color: #0078ff;
    margin-right: 3%;
  }
  
  .allowed_dep_card {
    margin-bottom: 3%;
  }

  .vote_btn_margin {
    margin: 5% 0;
    text-align: center
  }

  .vote_btn {
    border: 0px;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: 600;
    background-color: #002147;
    color: white;
    transition: 0.5s;
  }