.inputFile{
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.file-upload-wrapper {
  border: 2px #d1d5db solid;
  border-radius: 1rem;
  margin: 3rem 0;
}

.file-upload-label {
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-right: 2px #d1d5db solid;
}

@media screen and (max-width:767px) {
  .file-upload-label {
    width: 180px;
    height: 180px;
    object-fit: contain;
  }
}

.candidate-img-wrapper {
  border-right: 2px solid rgb(209, 213, 219);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.candidate-img {
  width: 256px;
  height: 256px;
  object-fit: contain;
  border-radius: 1rem;
  padding: 1rem;
}

@media screen and (max-width:767px) {
  .candidate-img {
    width: 180px;
    height: 180px;
    object-fit: contain;
  }
}

.candidate-name-inputs {
  display: flex;
  flex-direction: column; 
}

.candidate-name-wrapper {
 width: 40%;
 margin: 1.5rem;
}